*{
  font-family: 'League Spartan', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/* Navbar */

.navbar{
  background-color: #062338;
  justify-content: space-between;
  height: 70px;
}

.navbar-brand, .nav-link{
  color: white !important;
}

.navbar-brand{
  padding-left: 14px !important;
  font-size: 25px;
}

.nav-link{
  margin-right: 20px;
  font-size: 18px;
}


/* Main Image */

.mainSection{
  background-color: aqua !important;
  background-image: url("./images/back.png");
  color: white;
  background-size: cover;
  padding-top: 45vh;
  padding-bottom: 45vh;
}


.mainText{
  font-weight: 700;
  padding-left: 200px;
}

.typedJSText{
  color: #44dcec;
  padding-left: 50px;
}

/* Project Section */

.projects-section{
  padding: 100px;
}

.card{
  border-radius: 18px;
  height: 268px;
  background-size: 100%;
  transition: background-size 0.75s;
  background-position: center;
}

.card-body{
  border-radius: 18px;
  background-color: #062338;
  color: white;
  height: 100%;
  opacity: 0;
  transition: opacity 0.75s;
}

.card-body-space{
  padding-top: 50px;
  padding-bottom: 50px;
}

.card:hover .card-body{
  opacity: 1;
}

.card:hover{
  background-size: 130%;
}

/* Add project Item image here */
.rfc-img{
  background-image: url(./images/background.jpg);
}