
body{
  font-family: 'League Spartan', sans-serif;  
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Navbar */

.navbar{
  background-color: #062338;
  justify-content: space-between;
  height: 70px;
  @media (max-width: 540px) {
    display: flex;
    padding: 14px 0px;
  }
}

.navbar-brand, .nav-link{
  color: white !important;
}

.navbar-brand{
  padding-left: 14px !important;
  font-size: 25px;
}

.nav-item span{
  margin-left: 5px;
  display: none;
  @media (max-width: 540px) {
    display: inline;
  }
}

.nav-link{
  margin-right: 20px;
  font-size: 18px;
  @media (max-width: 540px) {
    border-radius: 20px;
    margin: 6px auto;
    width: 80%;
    background-color: #44dcec;
    color: #062338 !important;
  }
}

.navbar .container-fluid{
  @media (max-width: 540px) {
   padding: 0;
  }
}

.navbar-collapse{
  @media (max-width: 540px) {
    width: 70vw;
    margin-top: 70px;
    text-align: center;
    background-color: #062338;
    position: fixed;
    top: 0;
    left:0;
    height: 100vh;
    overflow-y: auto;
    transform:translateX(-100%)
  }
}

.shows{
 transform:translateX(0) ;
 transition: transform 0.2s ;
}

.collapsings{
  transform:translateX(-100%);
  transition: transform 0.2s ;
}






/* Main Image */

.mainSection{
  background-color:#062338;
  background-image: url(/assets/back.png);
  color: white;
  background-size: cover;
  padding-top: 45vh;
  padding-bottom: 45vh;
  @media (max-width: 540px) {
    background-size: 450%;
    background-position-x: 55%;
    background-position-y: 10%;
    padding: 45vh 1vh;
  }
}


.mainText{
  font-weight: 700;
  padding-left: 185px;
  @media (max-width: 540px) {
    padding: 0px 20px;
  }
}

.typedJSText{
  color: #44dcec;
  /* padding-left: 50px; */
}

/* Project Section */

.projects-section{
  padding: 100px;
  @media (max-width: 540px) {
    padding: 30px;
  }
}



.projectItemOnMobile .card{
  @media (max-width: 540px) {
    height: 90% !important;
    width: 100%;
  }
}

.projectItemOnMobile .card .card-body .card-body-space {
  @media (max-width: 540px) {
    padding: 0;
    height: 60% !important;
    scale: 0.6;
  }
  @media (max-width: 330px) {
    scale: 0.5;
    width: 120%;
    margin: 0px -22px;
  }
}



/* .projects-section h1{
  padding-bottom: 10px;
} */

.card{
  border-radius: 18px;
  height: 268px;
  background-size: 110%;
  transition: background-size 0.75s;
  background-position: center;
  background-repeat: no-repeat;
  @media (max-width: 540px) {
    aspect-ratio: 16/9 ;
    width: 100%;
  }
}

.card-body{
  border-radius: 18px;
  background-color: #062338;
  color: white;
  height: 100%;
  opacity: 0;
  transition: opacity 0.75s;
}

.card-body-space{
  padding: 40px 0px;
}

.card:hover .card-body{
  opacity: 1;
}

.card:hover{
  background-size: 140%;
  /* @media (max-width: 540px) {
    background-size: 205%;
  } */
}

.card-title{
  font-size: 28px;
}

.card-text{
  font-size: 20px;
  padding: 0px 20px;
}

.button-class{
  border-radius: 20px;
  padding: 10px 20px;
  margin: 0px 5px;
  text-decoration: none;
  
}


.visit-website-button{
  color: #062338 !important;
  background-color: #44dcec !important;
  font-size: 18px;
  
}

.see-more-button{
  border: 1px solid #44dcec;
  background-color: #062338;
  color: #44dcec;
}

/* Add project Item image class here */
.rfc-img{
  background-image: url(/assets/rfcimage1.jpg);
}

/* Footer Section */

.footer-section{
  text-align: center;
  background-color: #062338;
  padding: 60px 40px;
  @media (max-width: 540px) {
    padding: 60px 20px;
  }
}

.footer-container{
  border-radius: 40px;
  padding: 60px;
  background-color: #44dcec;
  @media (max-width: 540px) {
    padding: 60px 40px;
  }
}

.footer-email{
  font-size: 18px;
  color: #470e88;
  text-decoration: none;
   @media (max-width: 540px) {
   font-size: 16px;
  }
}

.footer-links{
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.footer-links .footer-link{
  font-size: 22px;
}

.footer-link{
  color: white;
}



/* Project Info */
.project-info-container{
  margin-top: 70px;
  padding: 60px;
}

.project-name{
  padding-bottom: 30px;
}

.carousel-inner{
  border-radius: 18px;
  height: 268px;
}

.carousel-item, .carousel-item img{
  height: 100%;
}

.project-info-container h3{
  font-weight: 700;
}

/* .projectInfoCarousel{
  padding: 100px;
} */


.project-info-image{
  width: 100%;
  border-radius: 20px;
  
}

.visit-website-button-project-info{
  margin-right: 10px;
  margin-left: 0px;
  border: 1px solid #062338;
  background-color: #062338;
  color: white;
  @media (max-width: 540px) {
    display: flex;
    margin: 10px 0px;
    width: 100%;
    justify-content: center;
  }
}

.see-github-button{
  border: 1px solid #062338;
  background-color: white;
  color: #062338;
  @media (max-width: 540px) {
    display: flex;
    margin: 10px 0px;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}

.main-feature-list{
  padding: 0px 200px;
  list-style: decimal;
  @media (max-width: 540px) {
    padding: 0;
  }
}

.main-feature-list li{
  padding: 5px 0px;
  font-size: 18px;
}

.tech-used-list{
  padding-top: 20px;
  list-style: none;
  @media (max-width: 540px) {
    flex-direction: column;
    text-align: left;
    padding: 0;
  }
}

.tech-used-list li{
  margin: 0px 10px;
  font-size: 20px;
  @media (max-width: 540px) {
    margin: 0;
    margin-top: 10px;
  }
}


/* About Page */
.about-section{
  margin-top: 70px;
  padding: 100px 50px;
  @media (max-width: 540px) {
    padding: 0px 50px 50px 50px;
   }
}

.skill-list li{
  background-color: rgb(184, 183, 183);
  margin: 0px 10px 10px 0px;
  padding: 8px 16px;
  border-radius: 8px;
}

.about-image{
  margin: auto;
  object-fit: contain;
  width: 400px;
  height: 400px;
  
}

.aboutDesc{
  @media (max-width: 540px) {
    margin-top: 0px !important;
   }
}